<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Generador</title>
    <head></head>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Space+Mono');
      
      #text p{
        margin: 0px !important;
        font-size: 15px;
        font-family: 'Space Mono', monospace;
      }
      
    </style>
  </head>
  <body>
    <div id="text">
      <canvas class="mycanvas" id="h" width="10" height="10"></canvas>
      <canvas class="mycanvas" id="a" width="10" height="10"></canvas>
      <canvas class="mycanvas" id="e" width="10" height="10"></canvas>
      <canvas class="mycanvas" id="j" width="10" height="10"></canvas>
      <canvas class="mycanvas" id="g" width="10" height="10"></canvas>
      <canvas class="mycanvas" id="o" width="10" height="10"></canvas>
      <canvas class="mycanvas" id="b" width="10" height="10"></canvas>
      <canvas class="mycanvas" id="8" width="10" height="10"></canvas>
      <canvas class="mycanvas" id="4" width="10" height="10"></canvas>
      <canvas class="mycanvas" id="r" width="10" height="10"></canvas>
    </div>
    <button type="button" id="write">Write in canvas</button>
    <button type="button" id="data">Get datasets</button>
    <button type="button" id="save">Save data</button><a download="info.txt" id="downloadlink" style="display: none;">Download</a>
    <script src="../dist/main.js"></script>
  </body>
</html>